<app-spinner [show]=showLoader></app-spinner>
<div class="container-fluid">
    <div class="fade-in">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-md-12">
                                <i class="fa fa-align-justify"></i> 2. Lista de ultimas cotizaciones (Criptos configurables en environment)
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <table class="table table-responsive-sm">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Name</th>
                                    <th>Price</th>
                                    <th>24%</th>
                                    <th>7d%</th>
                                    <th>Market Cap</th>
                                    <th>Volume(24H)</th>
                                    <th>Circulating Supply</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of listCryptocurrencyQuotesLatest">
                                    <td>{{item.id}}</td>
                                    <td>{{item.name}} <span>({{item.symbol}})</span></td>
                                    <td>{{item.listQuote[0]?.price}}</td>
                                    <td>{{item.listQuote[0]?.percentChange24h}}</td>
                                    <td>{{item.listQuote[0]?.percentChange7d}}</td>
                                    <td>{{item.listQuote[0]?.marketCap}}</td>
                                    <td>{{item.listQuote[0]?.volume24h}}</td>
                                    <td>{{item.circulatingSupply}}</td>
                                </tr>           
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <hr>
    <div class="fade-in" style="margin-top: 1em;">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-md-2">
                                <i class="fa fa-align-justify"></i> 3. Conversión
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <form [formGroup]="formConversion">
                            <div class="row">
                                <div class="col-md-2">
                                    <select type="text" class="form-control" formControlName="crypto">
                                        <option value="" disabled selected>Criptomoneda...</option>
                                        <option *ngFor="let item of listCryptocurrencies" value="{{item.symbol}}">{{item.name}}
                                        </option>
                                    </select>
                                </div>
                                <div class="col-md-2">
                                    <input placeholder="Cantidad" class="form-control" type="number" formControlName="amount" onkeypress="">
                                </div>
                                <div class="col-md-1">
                                    <button type="submit" class="btn btn-primary align-bottom" (click)="GetPriceConversion()">Convertir</button>
                                </div>
                            </div>
                        </form>

                        <table class="table table-responsive-sm" style="margin-top: 1em;">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Price</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of conversionCrypto.listQuote">
                                    <td>{{item.currency}}</td>
                                    <td>{{item.price}} </td>
                                </tr>           
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>